.sidebar_inner{
    padding-top: 15px;
    background-color: #aadaf5;
    border-radius: 25px;
    height: 100%;
}
.menu{
    padding-left: 10px;
}
.menu__link{
    display: block;
    margin: 2px 0;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    color: #297fb1;
    border-radius: 5px;
}
.menu__link:hover{
    background-color: #0d3247;
    color: #FFF;
}
.active{
    background-color: #477088;
    color: #90c5e4;
}
.friends{
    margin-top: 50px;
    height: 100px;
    background: red;
    text-align: center;
}
