.profile__background{
    max-width: 100%;
    background-image: url('https://gamerwall.pro/uploads/posts/2021-11/1637848931_1-gamerwall-pro-p-oboi-s-kosmicheskoi-tematikoi-oboi-na-rabo-1.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}
.profile__inner{
    margin: 15px 0;
}
.profile__card{
    display: flex;
}
.profile__avatar{
    height: 200px;
    width: 200px;
}
.avatar{
    width: 100%;
}